<span class="top-links"></span>
    <a class="top-link" href="{{config.base_url}}">All TILs</a>
    {{#each config.top_links}}
    <a class="top-link" href="{{this.url}}">{{this.title}}</a>
    {{/each}}
</span>
