body {
    font-family: "Helvetica", sans-serif;
    hyphens: auto;
    margin: auto;
    padding: 1em;
    max-width: 50em;
    background-color: #F6F6F6;
}

h1.til-title {
    margin-bottom: 0px;
    text-wrap: balance;
}

pre {
    border: 1px solid black;
    padding: 15px;
    font-size: 14px;
    overflow: scroll;
}

hr {
    margin: auto;
    border: 1px dashed gray;
}

ul.topic-list {
    list-style: none;
    list-style-type: none;
    padding: 0;
}

li.topic-list-tag {
    display: inline-block;
    margin-right: 0.25em;
    margin-top: 0.25em;
}

a {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #F6F6F6;
    background-color: #0000FF;
}

a.til-tag {
    background-color: lightgray;
    font-size: small;
    border: 1px ridge blue;
    border-radius: 15px;
    padding: 5px 10px;
    display: inline-block;
}

a:hover.til-tag {
    background-color: darkblue;
}

header.til-header,
div.til-subheader {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.til-date {
    font-style: italic;
}

button.sort {
    background-color: lightgreen;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

.top-link {
    margin-right: 2em;
}
