on:
  release:
    types:
      - created

permissions: {}

name: release

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # for trusted publishing to crates.io
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
        id: auth

      - name: publish to crates.io
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: "${{ steps.auth.outputs.token }}"
